.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
}
.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 690px;
  height: 690px;
  background: #5882c147;
  border-radius: 40px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 48px;
  padding-left: 96px;
  padding-right: 61px;
  padding-bottom: 47px;
}
.passwordDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 35px;
}
.password {
  font-size: 18px;
  font-weight: 400;
  line-height: 20.88px;
  color: #fff;
}
.passwordInp {
  width: 500px;
  height: 50px;
  border: 1px solid #bcbec0;
  border-radius: 10px;
  margin-bottom: 17px;
  padding-left: 23px;
}
.passwordInp::placeholder {
  color: #bcbec0;
}
.passwordInp:focus {
  outline: 3px solid rgb(22, 173, 190);
}
.submitBtn {
  width: 500px;
  height: 50px;
  background-color: #568fc4;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.18px;
  color: #fff;
  border: 0;
  border-radius: 11px;
}
.a {
  margin-top: 20px;
  margin-left: 230px;
  color: red;
}
